## .NET
bin/
obj/
*.user
.vs/
*.suo
*.userosscache
*.sln.docstates

## Secrets — NUNCA commitar
appsettings.Development.json
*.env
.env.*
secrets.json

## Logs
logs/
*.log

## EF Core migration snapshots temporários
*_snapshot.cs

## Docker
.dockerignore

## Node / Frontend
eventflow-web/node_modules/
eventflow-web/.env
eventflow-web/dist/
eventflow-web/.vite/

## OS
.DS_Store
Thumbs.db
